* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oldenburg', cursive;
    /*font-family: 'Syne Tactile', cursive;
    font-family: 'Cinzel', serif;
    */
}

html , body {
    height: auto;
    scroll-behavior: smooth;
}

main {
    height: auto;
}

section {
    background-color: rgb(216, 216, 216);
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*========================HEADER*/

header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
}

header a .create-character {
    width: 100%;
}

.logo {
    width: 300px;
    height: 100px;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

/*========================FORM SECTION*/

.main-form {
    margin-top: 20vh;
    height: 70vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

select, #name-choice, #choose-age, #choose-size {
    margin: 10px 0;
    padding: 6px;
    font-size: 1.1rem;
    width: 100%;
}

#spellOptions {
    display: none;
}

.main-form button {
    opacity: 0.8;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    font-size: 1.1rem;
    padding: 8px;
    background-color: black;
    color: antiquewhite;
    border: none;
    transition: 0.25s;
}

.main-form button:hover {
    opacity: 1;
    background-color: #b6352e;
    color: black;
    border: 1px solid black;
}

#proficiencies-choices, 
#what-u-get,
#spellOptions, 
#equip-u-get, 
#equipment-options, 
#traits-uget,
#choose-class {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
}


/*========================FOOTER*/
/* 
footer {
    height: 10vh;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer button {
    margin-top: 2vh;
    padding: 10px;
    background-color: antiquewhite;
    opacity: 0.85;
    border-radius: 5px;
}

footer button a {
    font-size: 1.2rem;
    color: black;
}

footer button:hover {    
    opacity: 1;
} */
