* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    /*font-family: 'Oldenburg', cursive;
    font-family: 'Syne Tactile', cursive;
    ;
    */
}

html , body {
    height: 100%;
}
/* 
header:hover {
    transition: 800ms;
    background-color: black;
} */

header {
    position: absolute;
    display: flex;    
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    height: auto;
}

main {
    display: flex;
    height: 90%;
    flex-direction: column;
    background-image: url("../imgs/background.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.opacity-background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.750);
    width: 80%;
    max-width: 1000px;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.main-section {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    opacity: 1;
}

.text-landing-page {
    line-height: 40px;
    font-size: 22px;
    font-family: 'Cinzel', serif;
    text-align: center;
}

.button-to-main {
    display: flex;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 81, 36);
    border: 1px solid lightgray;
    cursor: pointer;
    box-shadow: 1px 1px 10px white;
    opacity: 0.8;
}

.button-to-main:hover {
    opacity: 1;
}

.button-to-main:active {
    box-shadow: 0 0 0 black;
}

.link-to-main {
    text-decoration: none;
}

.button-to-main p {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

footer {
    height: 10%;
    width: 100%;
    border-top: 1px solid lightgray;
    background-color: black;
}

.container-devs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-devs h5, p {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 1366px) {
    
    .main-section {
        width: 100%;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 412px) {
    
    .main-section {
        width: 100%;
        padding-top: 20px;
    }

    .text-landing-page {
        font-size: 18px;
        line-height: 21px;
    }

    .opacity-background-text {
        height: auto;
    }
}
