* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oldenburg', cursive;
    /*font-family: 'Syne Tactile', cursive;
    font-family: 'Cinzel', serif;
    */
}

html , body {
    height: auto;
}

header {
    position: absolute;
    display: flex;
    border-bottom: 1px solid lightgray;
    height: auto;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.800);
}

.logo {
    width: 300px;
    height: 100px;
}

main {
    height: auto;
}

.intro {
    display: flex;
    height: 1000px;
    flex-direction: column;
    background-image: url("../imgs/background.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.text-intro {
    display: flex;
    background-color: rgba(0, 0, 0, 0.600);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 250px;
    width: 50%;
    border-bottom: 1px solid lightgray;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.950);
}

.divider p {
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
    font-weight: 700;
}

.create-character {
    height: 800px;
}

footer {
    height: 340px;
    width: 100%;
    border-top: 1px solid lightgray;
    background-color: rgba(0, 0, 0, 0.950);
}

.container-devs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-devs h5, p {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}
